*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: lalezar;
}
body{
    background: linear-gradient(to right, rgba(255, 68, 0, 0.74), rgba(255, 166, 0, 0.658));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
	display: table;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
	top: 0;
}

.title-part{
	justify-content: center;
	display: flex;
	padding-top: 60px;
	text-align: center;
}

.title-part h1{
	color: rgba(245, 245, 245, 0.918);
	font-size: 100px;
}

.title-part1{
	justify-content: center;
	display: flex;
	padding-top: 0px;
	padding-bottom: 5px;
	text-align: center;
}
.title-part1 h2{
	color: rgba(255, 255, 255, 0.753);
	font-size: 40px;
	
	
}
.title-part2{
	justify-content: center;
	display: flex;
	padding-top: 5px;
	padding-bottom: 20px;
	text-align: center;
}
.title-part2 a{
	color: rgba(0, 0, 255, 0.678);
	font-size: 25px;
	font-style: italic;
	cursor: pointer;
	text-decoration: none;
}
.picture{
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	padding-top:50px;
}

img{
	width: 205px;
	height: 205px;
	border-radius: 5%;
	box-shadow: 0px 0px 6px 1px #fff;
}
.picture ul li{
	display: inline-flex;
	justify-content: space-between;
}







